macosx/Wolf4SDL.xcodeproj/xcuserdata/ioan.xcuserdatad/xcschemes/xcschememanagement.plist
macosx/Wolf4SDL.xcodeproj/xcuserdata/ioan.xcuserdatad/xcschemes/Wolf4SDL.xcscheme
macosx/Wolf4SDL.xcodeproj/ioan.pbxuser
macosx/Wolf4SDL.xcodeproj/ioan.perspectivev3
macosx/build
