*.xcuserdatad/
*.pbxuser
*.perspectivev3
build/

Debug/
Release/

*.suo
*.sdf
*.user
Thumbs.db
*.opensdf
*.d
*.o
*.mode1v3
*.mode2v3
*.xcscheme
xcschememanagement.plist
*.pbxuser
*.a
DOS/bc
*.WL6
*.wl6
*.BAK
*.bak
*.EXE
*.exe
xcuserdata/
*.psess
AutoWolf-Android/bin
AutoWolf-Android/gen
AutoWolf-Android/libs
AutoWolf-Android/obj
*.xccheckout
AutoWolf-iOS/sdl-include
